
nav.top_div {
    background-color: rgb(43, 99, 57);
    align-items: center;
    height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

img.top_logo {
    height: 80%;
    
    margin-left: 0.5vh;
    margin-right: 7px;

    border: 1px solid rgb(0, 0, 0);
}

a.nav_option {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    font-family:Helvetica;

    background-color: #2ca128;
    padding: 10px 16px;
    
    margin: auto;
    margin-left: 7px;
    margin-right: 7px;
}

a.nav_option:hover {
    background-color: #f3cc20;
    color: black;
    display: inline;
}

a.nav_option.active {
    background-color: #32c52d;
    color: white;
    display: inline;
}

#profile {
    margin-left: auto;
    margin-right: 7px;
    justify-content: flex-end
}

.footer {
    background-color: rgb(22, 68, 34);
    font-family:Helvetica;

    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 10px;
}