
nav.top_div {
    background-color: rgb(209, 46, 46);
    align-items: center;
    height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

img.top_logo {
    height: 80%;
    
    margin-left: 0.5vh;
    margin-right: 7px;

    border: 1px solid rgb(0, 0, 0);
}

a.nav_option {
    color: #000000;
    font-size: 14px;
    text-decoration: none;
    font-family:Helvetica;

    background-color: #ff4d4d;
    padding: 10px 16px;
    
    margin: auto;
    margin-left: 7px;
    margin-right: 7px;
}

a.nav_option:hover {
    background-color: rgb(235, 67, 67);
    color: black;
    display: inline;
}

a.nav_option.active {
    background-color: #458ce9;
    color: white;
    display: inline;
}

#account {
    margin-left: auto;
    margin-right: 7px;
    justify-content: flex-end
}
